<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhe.seckillsp.redis.mapper.ShopMapper">
    <update id="descShopStock" parameterType="Integer">
        update `shop` set `stock` = `stock` - 1 where id = #{id}
    </update>

    <select id="getShopName" resultType="java.lang.String" parameterType="Integer">
        select `name` from `shop` where id = #{id}
    </select>
</mapper>